<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
</head>
<body>
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h2>Add an Order</h2>
					<form>
						<div class="form-group">
							<label for="product_name">Select One Product</label>
							<div class="checkbox" name="product"
								th:each="product : ${products}">
								<label><span th:text="${product.productName}"></span><input
									style="margin-left: 0px;" type="checkbox"
									th:field="*{products}" th:value="${product.id}" /></label>
							</div>
						</div>
						<div class="form-group">
							<label for="customer_first_name">Customer First Name</label> <input
								type="text" class="form-control" id="customer_first_name" />
						</div>
						<div class="form-group">
							<label for="customer_last_name">Customer Last Name</label> <input
								type="text" class="form-control" id="customer_last_name" />
						</div>
						<div class="form-group">
							<label for="customer_email">Customer Email</label> <input
								type="text" class="form-control" id="customer_email" />
						</div>
						<div class="form-group">
							<label for="customer_phone">Customer Phone</label> <input
								type="text" class="form-control" id="customer_phone" />
						</div>
						<div class="form-group">
							<label for="customer_quantity">Quantity</label> <input
								type="text" class="form-control" id="customer_quantity" />
						</div>
						<button type="submit" class="btn btn-default" id="btn_submit">Add
							New Order</button>
					</form>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<a href="/products">Go to products page</a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h3>List of orders</h3>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Order ID</th>
								<th>Customer</th>
								<th>Products</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="order : ${orders}">
								<td th:text="${order.id}"></td>
								<td th:text="${order.getCustomer()}"></td>
								<td th:text="${(order.getProductNameAndType())}"></td>
								<td th:text="${(order.getQuantity())}"></td>
								<td th:text="${order.getTotalAmount()}"></td>
								<td th:id="${order.id}"><button
										class="btn btn-danger delete-order">Complete Order</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/jquery.js" type="application/javascript"></script>
	<script type="application/javascript">
		

        $(document).ready(function () {
            $('#btn_submit').on("click",function(e){
                e.preventDefault();
                var firstName = $("#customer_first_name").val();
                var lastName = $("#customer_last_name").val();
                
                var email = $("#customer_email").val();
                var phone = $("#customer_phone").val();
                var quantity = $("#customer_quantity").val();
                
                if (!$(".checkbox :checkbox").is(":checked")){
                    alert("You must at least select one product");
                }
                else if($.trim(firstName)===""){
                    alert("You must fill the first name");
                }
                else if($.trim(lastName)===""){
                    alert("You must fill the last name");
                }
                else if($.trim(email)===""){
                    alert("You must fill the Email address");
                }
                else if($.trim(phone)===""){
                    alert("You must fill the phone number");
                }
                else if($.trim(quantity)===""){
                    alert("You must fill the Quanitity");
                }
                else{
                    var productIds = [];
                    $(".checkbox :checkbox:checked").each(function(){
                    	//alert($(this).val())
                       productIds.push(parseInt($(this).val()));
                    });
                    $.ajax({
                       type:"POST",
                       url:"/createorder",
                       data:{firstName:firstName,lastName:lastName, productIds:productIds,email:email,
                    	   phone:phone,
                    	   quantity:quantity},
                       success:function (data) {
                           if (confirm("Order with Id " +data + " Saved")){
                               window.location.reload();
                           }
                       }
                    });
                }
            });

            //Complete order button handler

            $('.delete-order').on("click", function(e){
                e.preventDefault();

                if(confirm("Are you sure the order is complete?")){
                    var Id = parseInt($(this).closest("td").attr("id"));

                    $.ajax({
                        type:"POST",
                        url:"/removeorder",
                        data:{Id:Id},
                        success:function (data) {
                            $(".delete-order").closest("td#"+data).parent("tr").fadeOut("slow",function(){
                                $(".delete-order").closest("td#"+data).parent("tr").remove();
                            });
                        }
                    });
                }

            });

        });
	
	
	
	
	
	</script>
</body>
</html>